<% provide(:title, 'Show Question') %>
<h1>Show Question</h1>

<p> <%= @question.user.name %> asked: </p>

<div class="container">
  <div class="question-content">
    <%= @question.content %>
  </div>

  <div class="question-topics">
    Topics: <%= @question.topic_list %>
  </div>

  <div class="question-conditions">
    Conditions: <%= @question.condition_list %>
  </div>

</div>

<%= will_paginate @answers %>

<ul class="answers">
  <% @answers.each do |answer| %>
  <li>
    <%= answer.user.name %> answered: 
    <%= answer.content %>
  </li>
  <% end %>
</ul>

<%= will_paginate @answers %>


<% if @user %> <%# only show answer form if signed in %>

<div class="container">
  <p> Answer this question</p>
  <%= form_for(@answer, url: '/create_answer', html: {class: 'form-question', role: 'form'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :content, class: 'form-control', placeholder: 'Your Answer' %>  
  <%= f.hidden_field :question_id, value: @question.id %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Done", class: "btn btn-large btn-primary" %>
  <% end %>
</div class="container">

<% else %>

<p>
<%= link_to 'Answer This Question', signin_show_path %>
</p>
<% end %>
