<% provide(:title, 'Show Question') %>

  <h3> <%= @question.user.name %> asked </h3>
  <p>  <%= @question.content %> </p>

  Topics: <%= @question.topic_list %>
  <br>
  Conditions: <%= @question.condition_list %>

<% if @answers.count > 0 %>
  <h4>Answers</h4>
  <%= will_paginate @answers %>

  <% @answers.each do |answer| %>
    <div class="row">
      <div class="col-md-1">
	<%= answer.user.name %>:
      </div>
      <div class="col-md-11">
	<%= answer.content %>
      </div>
    </div>
  <% end %>

  <%= will_paginate @answers %>
<% end %>

<p></p>

<% if @user %> <%# only show answer form if signed in %>

  <%= form_for(@answer, url: '/create_answer', html: {class: 'form-question', role: 'form'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_area :content, rows: '3', class: 'form-control', placeholder: 'Your Answer' %>  
  <%= f.hidden_field :question_id, value: @question.id %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Done", class: "btn btn-large btn-primary" %>
  <% end %>

<% else %>

<p>
<%= link_to 'Answer This Question', signin_show_path, class: 'btn btn-primary' %>
</p>
<% end %>
