<% provide(:title, @user.name) %>
<h3><%= @user.name %></h3>

<h4>Questions Asked</h4>


<% @questions.each do |question| %>
  <%= render question %>
<% end %>

<%= will_paginate @questions, param_name: :qpage  %>


<h4>Questions Answered</h4>

<% @answers.each do |answer| %>
  <%= render answer.question %>
<% end %>

<%= will_paginate @answers, param_name: :apage %>

